.error__container {
  display: flex;
  flex-direction: column;
  gap: 80px;
  max-width: 500px;
  margin: 80px auto 0 auto;
}

.error__message {
  font-size: 1.75rem;
  color: var(--white);
  font-weight: 400;
  text-align: center;
}

.error__button {
  font-size: 1.25rem;
  padding: 10px;
  background-color: var(--main-color);
  color: var(--background);
  border-radius: 15px;
  cursor: pointer;

  transition: .5s;
}

.error__button:hover {
  color: var(--white);
}