@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

:root {
  --main-color: #0094FF;
  --background: #0E131E;
  --light-background: #1B2838;
  --white: #FFFFFF;
  --gray: #374351;

  --font: 'Ubuntu', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: var(--font);
}

body {
  background-color: var(--background);
}