@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

:root {
  --main-color: #068FFF;
  --background: #121212;
  --light-background: #1B262C;
  --white: #FFFFFF;
  --gray: #616E7C;

  --red: #FF0000;

  --font: 'Ubuntu', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: var(--font);
}

body {
  background-color: var(--background);
}