.banner__container {
  display: flex;
  flex-direction: column;
  background-color: var(--light-background);
  border-radius: 15px;
  max-width: 700px;
}

.banner__img {
  max-width: 100%;
  border-radius: 15px 15px 0 0;
}

.banner__article {
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  color: var(--white);
}

.banner__title {
  font-weight: 400;
  color: var(--white);
}

.banner__text {
  font-weight: 300;
  color: #acacac;
}

@media screen and (min-width: 600px) {
  .banner__container {
    flex-direction: row;
  }

  .banner__img {
    border-radius: 15px 0 0 15px;
  }

  .banner__article {
    justify-content: space-around;
  }
}